.comment-container {
  background-color: rgb(248, 237, 237);
  width: 624px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.comment {
  margin: 4px;
  border-bottom: 1px solid black;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.comment.title,
.comment.time {
  text-align: center;
  font-weight: bold;
}
.comment.time {
  font-size: 0.8em;
  margin: 0;
  color: blue;
}
