.register-box {
  width: 50%;
  margin: 30px auto;
  background-color: #8fcdd1;
  border-radius: 20px;
  padding: 20px;
  font-weight: bold;
}

.register-form {
  width: 50%;
  margin: auto;
  border-radius: 20px;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-box h1 {
  margin: 0;
  padding: 20px 0;
  font-size: 2em;
  text-align: center;
  border-bottom: 2px solid beige;
}
.register-box .register-untertitle {
  text-align: center;
  font-weight: bold;
  font-style: italic;
  margin-top: 30px;
}
.register-form label {
  padding: 10px 10px;
  color: black;
  font-weight: bold;
}
.register-form input {
  width: 300px;
  height: 30px;
  border-radius: 20px;
  border: none;
}

.register-form input:placeholder-shown {
  padding-left: 10px;
  font-style: italic;
}
.registerbtn {
  margin-top: 30px;
  font-weight: bold;
  font-size: 1em;
}
.registerbtn:hover {
  background-color: teal;
  color: white;
}
.signin {
  text-align: center;
}
